.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.input_field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.search_icon {
    font-size: 25px;
    margin-right: 10px;
    color: #666e8f;
}
.search_input {
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    padding: 4px 0px 5px;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    outline: none;
}
.search_input::placeholder {
    font-size: 19px;
    color: #666e8f;
}
.nav_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18%;
}
.login {
    margin: 0px;
    text-decoration: none;
    color: rgb(219, 249, 29);
    font-size: 18px;
    font-weight: 500;
    box-shadow: none;
    background: none;
    cursor: pointer;
}
.or {
    font-size: 15px;
    color: white;
}
.account {
    background-color: rgb(73, 78, 105);
    border-color: rgb(63, 70, 100);
    color: white;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.75;
    min-width: 64px;
    border: 1px solid rgba(63, 70, 100, 0.5);
    box-shadow: none;
    text-transform: none;
    font-weight: 400;
    border-radius: 4px;
    padding: 8px 12px;
}