.login {
    background-color: rgb(206, 236, 226);
    padding: 5% 0 3% 0;
    .site_name {
        font-size: 35px;
        font-weight: 700;
        letter-spacing: 4px;
        color: rgb(13, 174, 147);
        font-family: cursive;
        margin-left: 8px;
    }
    .title {
        font-size: 35px;
        font-weight: 700;
        color: rgb(42, 144, 110);
        letter-spacing: 10px;
        font-family: monospace;
    }
    .divider {
        border-bottom: 1px solid rgb(126, 177, 160);
        margin: auto;
        width: 60%;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    strong {
        color: rgb(69, 193, 151);
        margin-left: 5px;
        margin-top: 3px;
    }
    span {
        font-size: 15px;
        color: rgb(30, 112, 112);
        margin-left: 10px;
        margin-top: 20px;
    }
}
.dflex_center {
    display: flex;
    justify-content: center;
}
.slider {
    .drawer_icon {
        color: rgb(255, 255, 255);
        font-size: 18px;
    }
    .user_field {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: white;
    }
    span {
        color: white;
        font-size: 16px;
    }
    .draw_icon {
        background-color: rgb(20, 124, 235);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        z-index: 100;
    }
    .draw_icon_field {
        position: absolute;
        right: 0px;
        top: 30px;
        background-color: white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
    }
    .draw_icon_field:hover {
        background-color: white;
    }
    .draw_icon:hover {
        background-color: rgb(20, 124, 235);
    }
    img {
        width: 70px;
        height: 70px;
    }
}
.dashboardBody {
    span {
        font-size: 30px;
        color: black;
    }
}
.goalChangeBody {
    .goal_field {
        width: 40%;
    }
    .slider_field {
        width: 60%;
        margin: auto;
    }
    .slider_text {
        width: 150px;
        padding: 5px 5px 5px 10px ;
        border-radius: 15px;
        border: none;
        outline: none;
        background-color: rgb(29, 189, 173);
        color: white !important;
        font-size: 16px;
        cursor: pointer;
    }
    .slider_text:hover {
        border: 1px solid rgb(29, 189, 173);
        outline: none;
        background-color: white;
        color: rgb(29, 189, 173) !important;
    }
    .icon_field {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: rgb(50, 158, 147);
        border-radius: 50%;
        cursor: pointer;
    }
    .icon_field:hover {
        background-color: rgb(108, 227, 215);
    }
    .des_text {
        font-size: 17px;
        width: 80%;
    }
    @media screen and (max-width: 1100px) {
        .dflex_center {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .goal_field {
            width: 100%;
        }
    }
    @media screen and (max-width:  420px) {
        .des_text {
            width: 200px;
        }
    }
    @media screen and (max-width: 600px) {
        .slider_field {
            width: 80%;
        }
    }
}
.QA {
    .slider_field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: auto;
    }
    .icon_field {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: rgb(50, 158, 147);
        border-radius: 50%;
        cursor: pointer;
    }
    .icon_field:hover {
        background-color: rgb(107, 211, 201);
    }
}
.invitation {
    margin: 10px;
    .invitation_table {
        width: 50% !important;
        margin: auto;
        margin-top: 50px;
    }
    .send_message {
        width: 50% !important;
        margin: auto;
        margin-top: 20px;
    }
    input {
        width: 80%;
        padding: 5px 10px;
        outline: none;
        border: 1px solid rgb(23, 199, 181);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    input::placeholder {
        font-size: 16px;
        color: rgb(23, 199, 181);
    }
    input:focus {
        color:rgb(23, 199, 181);
      }
    .send_message {
        button {
            border: 1px solid rgb(23, 199, 181);
            outline: none;
            padding: 5px 10px;
            width: 20%;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            color: white;
            background-color: rgb(23, 199, 181);
            font-size: 16px;
        }
        button:hover {
            background-color: rgb(76, 212, 198);
        }
    }
    @media screen and (max-width: 890px) {
        .invitation_table {
            width: 100% !important;
        }
        .send_message {
            width: 100% !important;
        }
    }
}

.promotion {
    padding: 10px;
}
.promote_body {
    margin: auto;
    margin-top: 50px;
    padding: 25px;
}
.statusBody {
    .underline {
        border-bottom: 1px dotted rgb(11, 132, 180);
    }
}

@media screen and (max-width: 978px) {
    .dflex_center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .promote_body {
        margin-top: 20px;
        padding: 10px;
        
    }
}
